<article class="c-post">
  <header class="c-post__entry-header">
    <img class="c-post__thumbnail" src="<%= imgUrl %>" alt="<%= postTitle %>">
    <h2 class="c-post__title"><a href="<%= postPermalink %>"><%= postTitle %></a></h2>
    <div class="c-post__categories">
      <% for( let index = 0; index < postCategories.length; index++ ) { %>
        <span class="c-post__category"><%= postCategories[index] %></span>
      <% } %>
    </div>
  </header>
  <div class="c-post__entry-content">
    <p><%= postExcerpt %></p>
  </div>
  <a class="c-post__link" href="<%= postPermalink %>">続きを読む >></a>
</article>